/*
  This file is part of ReactKoans https://github.com/alexey-dc/react_koans.

  ReactKoans is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

  ReactKoans is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License along with ReactKoans. If not, see <https://www.gnu.org/licenses/>.
*/

:root {
  --clr-blue: #1022BB;
  --clr-dirty-green: #224400;
  --clr-red: #BB2210;
  --clr-green: #10BB22;
}

body {
  font-size: 2.1vh;
}

ul {
  padding: 0 0 0 0;
  margin:  0 0 0 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}
li::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin: -0.3vmin 0.5vmin 0 0;
  width: 0.6vmin;
  height: 0.6vmin;
  border-radius: 50%;
  background-color: currentColor;
}

.large_li li {
  margin-bottom: 3vh;
  font-size: 3vh;
}

a {
  margin:  0 0 0 0;
  padding:  0 0 0 0;
}

a {
  color: var(--clr-blue);
  text-decoration: underline;
  text-decoration-thickness: .07em;
  text-underline-offset: 0.2em;
}

a:hover {
  color: var(--clr-dirty-green);
  text-decoration-thickness: .14em;
}

a:visited {

}


.card {
  box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.3);
  padding: 2vh 2vw 2vh 2vw;
  border-radius: 6px;
}

.card_row {

}

.card_row .card {
  min-width:  max(15vw, 250px);
}


.red {
  color: var(--clr-red)
}

.green {
  color: var(--clr-green)
}

.button {
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  font-size: 2.5vh;
  padding: 1vh 1vw 1vh 1vw;
  text-align: center;

  /*
    Prevent text selection
    https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting
  */
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.3);
}

.button:active {
  box-shadow: inset 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
}

.f-row {
  display: flex;
  flex-direction: row;
  margin: 0px;
}

.f-col {
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.f-wrap {
  flex-wrap: wrap;
}

.f-j-center {
  justify-content: center;
}

.f-j-end {
  justify-content: flex-end;
}

.f-j-flex-end {
  justify-content: flex-end;
}

.f-j-space-around {
  justify-content: space-around;
}

.f-j-space-between {
  justify-content: space-between;
}
